<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 id="listaUsuarios">Usuarios</h2>
		<form class="navbar-form" action="/user/list">
			<div class="form-group">
				<input id="searchField" name="searchText" type="text"
					class="form-control" size="50"
					placeholder="Buscar por nombre o apellidos del usuario">
			</div>
			<button id="buscar" type="submit" class="btn btn-default">Buscar</button>
		</form>
		<p>Los usuarios que actualmente figuran en el sistema son los
			siguientes:</p>
		<button type="button" id="updateButton" class="btn btn-default">Actualizar</button>
		<script>
			$("#updateButton").click(function() {
				$("#tableUsers").load('/user/list/update');
			});
		</script>

		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableUsers"
				id="tableUsers">
				<thead>
					<tr>

						<th>Nombre</th>
						<th>Email</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${usersList}">

						<td th:text="${user.name}">Nombre del usuario</td>
						<td th:text="${user.email}">Email del usuario</td>
						
						<td>
							<div th:if='${#bools.isTrue(#lists.contains(invitationsList, user))} '>
								<button disabled type="button" th:id="${'addButton' + user.id}"
									class="btn btn-success btn-block"></button>
							</div>
							<div>
								<div th:if='${#bools.isTrue(#lists.contains(invitationsList, user))}'>
									<button disabled type="button"
										th:id="${'addButton' + user.id}"
										class="btn btn-warning btn-block"
										th:text='#{users.list.requestFriendship.pendientes}'></button>
								</div>
								<div th:if='${#bools.isFalse(#lists.contains(pendientes, user))} '>
									<button type="button" th:id="${'addButton' + user.id}"
										class="btn btn-info btn-block"
										th:text='#{users.list.requestFriendship}'></button>
									<script th:inline="javascript">
										/*<![CDATA[*/$(
												"#addButton[[${user.id}]]")
												.click(
														function() {												
															var receiver = [[${user.id}]];
															$.post("/friendship/send", 
																	{						 
																	"Idreceptor" : receiver
																	}, 
																	function(){
																		$("#addButton[[${user.id}]]").attr('disabled', true);
																		$("#addButton[[${user.id}]]").removeClass("btn-info");
																		$("#addButton[[${user.id}]]").addClass("btn-warning");
																		$("#addButton[[${user.id}]]").text( [[#{users.list.requestFriendship.pendientes}]] );
																		
																		$.get("/user/list/update", function(data) {
																			var numberPage = [[${param.page}]];
																		 	var urlUpdate = '/user/list/update';
																		 	if ( numberPage != null ){
																		 		urlUpdate += "?page="+numberPage[0];
																		 	}
																			 $("#tableUsers").load(urlUpdate);
																		});
																	});
															
														}); /*]]>*/
									</script>
								</div>
							</div>
						</td>
						<td class="col-md-1"></td>
						<td class="col-md-1"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination" />
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>