<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 id="listaSolicitudes" th:text="#{requests}">Solicitudes</h2>
		<form class="navbar-form" action="/friendship/list"></form>
		<p th:text="#{requests.now}"></p>
		<button type="button" id="updateButton" class="btn btn-default" th:text="#{update}">Actualizar</button>
		<script>
			$("#updateButton").click(function() {
				var numberPage = [[${param.page}]];
				var urlUpdate = '/friendship/list/update';
			 	if (numberPage != null ){
			 		urlUpdate += "?page="+numberPage[0];
			 	}
			 	$("#tableInvitations").load(urlUpdate);
			});
		</script>

		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableInivitations"
				id="tableInivitations">
				<thead>
					<tr>

						<th th:text="#{name}">Nombre:</th>
						<th class="col-md-1"></th>


					</tr>
				</thead>
				<tbody>
					<tr th:each="invitation : ${invitationsList}" th:id="${'invitation' + invitation.emisor.id}">

						<td th:text="${invitation.emisor}" th:text="#{name}">Nombre</td>
						<td>
						<div></div>
							<div>
								<button type="button" th:id="${'acceptButton' + invitation.emisor.id}"
									class="btn btn-info btn-block"
									th:text='#{users.list.acceptFriendship}'></button>
								<script th:inline="javascript">
										/*<![CDATA[*/$(
												"#acceptButton[[${invitation.emisor.id}]]")
												.click(
														function() {				
															var newFriend = [[${invitation.emisor.id}]];
															var invitation = [[${invitation.id}]];
															$.post("/friendship/accept", 
																	{						 
																	"idNewFriend" : newFriend,
																	"idInvitation" : invitation
																	}, 
																	function(){
																		$("#invitation[[${invitation.emisor.id}]]").remove();
																	});
															
														}); /*]]>*/
									</script>
							</div>
							</div>
						</td>

					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination" />
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>